html,body{
    background-color: #252525;

    font-family: 'Gotham', sans-serif;
}

.header{
    text-align: center;
    margin: 15px;
    color: #ffffff;
}

.actionBar{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;

    height: auto;
    background-color: rgb(118, 118, 118);
}

.banner{
    text-align: center;
    background-color: #00000080;
    padding: 5px;
    border-top-left-radius: 20px; 
    border-top-right-radius: 20px;
    color: white;
}

.navlinks{
    color: rgb(140, 28, 28);
    text-align: center;
}



a{
    text-decoration: none;
}

.container{
    margin-top: 15px;
    margin-bottom: 15px;
    margin: 5px;
    background-color: rgb(100, 100, 100);
    border-radius: 20px;
    text-align: center;
    
}

.docContainer{
    overflow:hidden; 
    overflow-y:scroll;
    height: 500px;
}

.loginForm{
    padding: 15px;
    margin: 15px;
}

input.login{
    text-align: center;
    height: 24px;
    width: 200px;
    margin: 10px;
    padding: auto;
    border: 0;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    transition: .2s;
}

input.search{
    text-align: left;
    height: 24px;
    width: 150px;
    margin: 5px;
    padding: auto;
    border: 0;
}

input.login:hover{
    width: 210px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

button.submit{
    text-align: center;
    background-color: #922d2d;
    color: white;
    width: 210px;
    margin: 10px;
    padding: 15px;
    border: 0;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    transition: .2s;
}



button.primary{
    font-size: 18px;
    text-align: center;  
    background-color: rgb(213, 213, 213);
    color: black;
    width: 48%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border: 0;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    transition: .2s;
}

button.secondary{
    font-size: 18px;
    text-align: center;  
    background-color:rgb(213, 213, 213);
    color: black;
    width: 48%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px black solid;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    transition: .2s;
}

button.primary:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.2);
}

button.secondary:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.2);
}



button.submit:hover{
    background-color: rgb(197, 28, 28);
    width: 240px;
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.2);
}

.existingDocs{
    text-align: left;
    padding: 10px;
}

ul{
    list-style: none;
    padding: 5px;
}

li{
    background-color: #ececec;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}

a.actionlink{
    color: black;
}
a.actionlink:hover{
    color: white;
}


.status{
    padding: 0px;
    margin-left: 20px;
    margin-right: 5px;
    color: gray;
}
.due_date{
    padding: 0px;
    margin-left: 5px;
    margin-right: 5px;
    color: gray;
}
.mod_date{
    padding: 0px;
    margin-left: 5px;
    margin-right: 5px;
    color: gray;
}

.card{
    text-align: left;
    margin: 15px;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 10px;
    border: 0px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    transition: .2s;
}

.card:hover{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}

h1{
    font-size: 24px;
    margin-bottom: 0px;
}

h3{
    margin: 5px;
    font-size: 16px;
}

h4{
    padding: 5px;
    margin: 0px;
}

h5{
margin: 1px;
}

h6{
margin: 1px;
color: gray;
}

.left-side-card{
    display: inline-block;
    width: 70%;
}

.center-side-card{
    height: auto;
    display: inline-block;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

.right-side-card{
    margin-left: 30px;
    height: auto;
    display: inline-block;
    text-align: right;
    padding: auto;
}
.del{
    width: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
    opacity: 20%;
}

.New{
    text-align: right;
    width: 24px;
    height: 24px;
    border-radius: 24px;
    background-color: rgb(120, 186, 120);
}
.Open{
    text-align: right;
    width: 24px;
    height: 24px;
    border-radius: 24px;
    background-color: rgb(228, 224, 100);
}
.Closed{
    text-align: right;
    width: 24px;
    height: 24px;
    border-radius: 24px;
    background-color: rgb(157, 157, 157);
}

.select-filter{
    margin-top: 10px;
    display: inline-block;
}

select{
    font-size: 14px;
    text-align: center;  
    background-color: rgb(213, 213, 213);
    color: black;
    padding: 5px;
    border: 0;
    border-radius: 5px;
    transition: .2s;
}