html, body { width: 100%; height: 100%; margin: 0 auto; text-align: center;}

body{
    background-color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}

#date-select-container{
   display: flex;
   justify-content: center;
   text-align: center;
}

#day{
    height: 40px;
    width: 70px;
    padding: 0px;
    margin: 0px;
    background-color: transparent;
    border: transparent;
}
#month{
    height: 40px;
    width: 75px;
    padding: 0px;
    margin: 0px;
    background-color: transparent;
    border: transparent;
}
#year{
    height: 40px;
    width: 100px;
    padding: 0px;
    margin: 0px;
    background-color: transparent;
    border: transparent;
}
#search-button{
   background-color: rgb(255, 85, 0);
   border: 0px;
   border-radius: 10px;
   width: 70px;
   height: 40px;
}


#add-button{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: solid rgb(255, 85, 0) 1px;
    text-align: center;
    padding: 0;
    color: white;
    background-color: rgb(255, 85, 0);
    font-size: 18px;
    font-weight: bold;
    transition: 0.2s;
}
#add-button:hover{
    text-align: center;
    padding: auto;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    border: solid black 0px;
    color: rgb(255, 85, 0);
    border: solid 1px rgb(255, 85, 0);;
    font-weight: bold;
    width: 120px;
    height: 40px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.order-sub{
    color: rgb(200, 200, 200);
}

#welcome{
    margin-left: 30px;
    color: white;
}

#loggedUser{
    color: white;
}

#logo{
    width: 250px;
    margin: 40px;
    mix-blend-mode: darken;
}

.nav-bar{
    margin: 10px;
    padding: 10px;
    text-align: left;
    justify-content: left;
}

#back-link{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.logo-container{
    margin-top: 50px;
    margin-bottom: 50px;
}

.contenedor{
    background-color: white;
    text-align: center;
    height: 78%;
    overflow: scroll;
    border: black;
    border-width: 2px;
    margin: 0px;
    overflow: hidden;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.titles-bar{
    text-align: center;
    box-shadow: 0px 5rpx 10px rgba(0, 0, 0, 0.153);
    padding: 5px;
}

.p50-div{
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 47%;
    height: auto;
    vertical-align: bottom;
}


input{
    width: 230px;

    font-size: 18px;
    margin: 10px;
    padding: 10px;
    border-width: 1px;
    border-radius: 10px;
    text-align: center;
}

#login-submit{
    width: 250px;

    font-size: 18px;
    padding: 10px;

    margin: 30px 10px 10px 10px;

    border: 0;
    border-radius: 10px;

    text-align: center;
    
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: bold;
}

#login-submit:hover{
    background-color: rgb(226, 75, 0);
    font-size: 20px;
    width: 270px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    color: black;
    
}

.add-to-list{
    margin: 0;
    font-size: 16px;
    height: 40px;
    padding: 0px; 
    background-color: rgb(243, 243, 243);
    border: solid black 1px;
    border-radius: 10px;
    text-align: center;
}

#route-table{
    border: solid gray 1px;
    border-radius: 5px;
    height: 200px;
    width: auto;
    margin: 20px;
    background-color: rgb(243, 243, 243);
    margin-top: 10px;
    overflow-y: scroll;
}

.continue-button{
    margin: 0;
    font-size: 16px;
    height: 40px;
    padding: 10px; 
    background-color: rgb(0, 0, 0);
    border: solid black 1px;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
    width: 200px;
    transition: 0.2s;
}
.continue-button:hover{
    margin: 0;
    font-size: 16px;
    height: 40px;
    padding: 10px; 
    background-color:  rgb(255, 85, 0);
    border: 0;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
    width: 220px;
    transition: 0.2s;

    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

li{
    gap: 1px;
    text-align: left;
    padding: 8px;
    padding-left: 10px;
    margin: 5px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(252,252, 252);
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    font-size: 18px;
}
li:hover{
    background-color: rgb(255, 153, 0);
    color: white;
    border: 1px solid (255, 85, 0);
    box-shadow: 0px 2px 10px 2px rgba(189, 189, 189, 0.6);
    padding: 9px;
    padding-left: 10px;
    font-weight: bold;
}


.flex-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    height: 40px;
}

.delete-li{ 
    display: flex;
    flex-direction: row;
    width: 50px;
    height: 40px;
    flex-wrap: wrap;  
    align-items: center;
}

.li-text{
    display: flex;
    flex-direction: row;
    width: 130px;
    height: 40px;
    flex-wrap: wrap;
    align-items: center;
}

.li-quant{
    display: flex;
    flex-direction: row;
    width: 80px;
    height: 40px;
    flex-wrap: wrap;
    justify-self: right;
    align-items: center;
}

.quant{
    width: 80px;
    text-align: right;
}

.remove-item-button{
    border: 0px;
    background-color: rgb(225, 54, 54);
    color: rgb(255, 255, 255);
    width: 30px;
    height: 30px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    align-items: center;
}